<%- include("partials/headers.ejs",{home:" ",subscribe:" ",contact:" ",about:" current-menu-item"}) -%>
<div class="background-image"></div>
    <div class="about-container">
        <h1>About Us</h1>
        <div class="personal-details">
        <h3>Personal:</h3>
        <P>I am a professional full-stack web developer and
            currently pursuing MCA master degree at NEHU.This website is developed with love,
            hope you all will like it and don't forget to subscribe.
        </P>
        </div>
        <div class="website-details">
        <h3>Website:</h3>
        <P>You can get weather forecast details of any city or town or latitude and longitude
            and even contact me and subscribe in our website.For source code follow me on Twitter.UI is inspired from <a href="https://www.themezy.com" target="_blank">Themezy</a>
        </P>
        </div>
        <div class="contact-details">
            <h3>Contact Details:</h3>
            <p>roseahmed2019@outlook.com</p>
        </div>
    </div>


    <%- include("partials/footers.ejs",{userConfirmation:" "}) -%>